*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
.side-bar{
    position: fixed;
    left: 0%;
    top: 0;
    height: 100vh;
    width: 80%;
    z-index: 5;
    border-right: 1px solid rgba(0,0,0,0.1);
    background: #fff;
}
.add-someone{
    padding: 10px;
    border-radius: 7px;
    background: #0084ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    bottom:15px;
    text-align: center;
    color: #fff;
}
.people-container{
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    max-height: calc(100% - 200px);
}
.people-container > div{
    min-height: 100px;
    border: 1px solid rgba(0,0,0,0.1);
}

/* chat */
.user-input{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    display: flex;
    height: 55px;
    padding: 0 10px;
}
.user-input input{
    width: 80%;
    border-radius: 4px;
    border: none;
}

#typing div > div{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #929496;
    margin: 0 1px;
}

#typing div > div:nth-child(2) {
    animation-name: typing1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    transition: .5s;
}

#typing div > div:nth-child(3) {
    animation-name: typing1;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: .5s;
    animation-direction: alternate;
}

@keyframes typing1{
    0%{
        transform: translateY(-20%);
    } 50% {
        transform: translateY(20%);
    } 100% {
        transform: translateY(0%);
    }
}



.user-input button {
    background: #fff;
    width: 20%;
    border: none;
}

.user-input svg {
    transform: rotate(45deg);
}

.pop-up-window{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 7;
}

.file-viewer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    z-index: 1001;
    display: grid;
    place-items: center;
}

.notification{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
}

.notification > div{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.notification > div p{
    font-size: 17px;
    font-weight: bold;
}
.notification > div button{
    padding: 7px;
    width: 70%;
    border: none;
    background: green;
    color: #fff;
}

.script-window{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 8;
}

.pop-up-window button, .script-window button{
    padding: 5px 15px;
    border-radius: 7px;
    background: #0084ff;
    color: #fff;
    border: none;
}

.pop-up-window .form, .script-window .form{
    margin-top: 100px;
    padding: 20px 50px;
}
.pop-up-window .form input, .script-window .form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #0084ff;
    margin-bottom: 10px;
    border-radius: 4px;
}
.pop-up-window .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.pop-up-window .content > div{
   height: 100px;
   margin: 3px;
   border: 1px solid rgba(0,0,0,0.1);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* profile */
.profile-window{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.profile-window button {
    padding: 5px 15px;
    border-radius: 7px;
    background: #0084ff;
    color: #fff;
    border: none;
}

.profile-window .profile-buttons{
    display: flex;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}

.profile-window .profile-buttons > div{
    padding: 10px 15px;
}

.profile-window .profile-buttons > div.active{
    color: blue;
    background: rgba(0,0,255, 0.1);
    border-radius: 10px;
}

.profile-window .profile-content{
    display: grid;
    overflow: auto;
    max-height: 100%;
    grid-template-columns:  repeat(3, 1fr);
}

.profile-window .profile-content > div{
    min-height: 130px;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
}